@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular/Lato-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-Regular/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Lato-Regular/Lato-Regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/Lato-Regular/Lato-Regular.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/Lato-Regular/Lato-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Lato-Regular/Lato-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}